* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #EB6123;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #F5CD08;
}

.Navigation {
    width: 80%;
    margin: 0 auto;
    display: block;
    height: 5vh;
    background-color: #171615;
}

.Navigation nav a {
    display: inline-block;
    font-size: 2.5rem;
    color: #F5CD08;
    text-decoration: none;
    margin-left: 1rem;
    margin-top:0.8rem;
}

.Services {
    margin: 0 auto;
    width: 80%;
    margin-top: 2rem;
    background-color: #171615;
    border-radius: 8px;
}

.Service-Title {
    padding: 1.3rem;
    background-color: #5F2B93;
    border-radius: 8px;
}

.Food {
    padding: 1rem;
}

.Drinks {
    padding: 1rem;
    background-color: #5F2B93;
    border-radius: 8px;
}

.Entertainment {
    padding: 1rem;
}